.postsHeader {
  font-size: 23px;
}

.makePostLink{
  text-decoration: none;
  background-color: #384955;
  color: white;
  max-width: 100px;
  padding: 1%;
}

.makePostLinkSpot{
  margin-top: 2%;
}

.postCardContainer{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.postCardLink{
  text-decoration: none;
}

.postCard{
  display: flex;
  background-color: #4280A5;
  color: white;
  width: 200px;
  height: 100px;
  padding: 1%;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .postCard{
    background-color: #0c3045;
  }
}

@media only screen and (max-width: 480px) {
  .postCard{
    background-color: #7e1783;
    
  }
}
