.header{
  background-color: #9CAEBC;
  display: flex;
  justify-content: space-around;
  color: black;
  left: 0;
  right: 0;
}

.landing{
  display: flex;
  align-items: center;
}

.landingLink{
  color: black;
  font-size: 45px;
  text-decoration: none;
  display: flex;
}

.headerTagsLoggedOut{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #9CAEBC;
}

.homeLink{
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.loginButton{
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.registerLink{
  text-decoration: none;
  color: black;
  font-size: 25px;
}






.headerTagsLoggedIn{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: auto;
  align-items: center;
  flex-direction: column;
  background-color: #9CAEBC;
}

.welcome{
  text-decoration: none;
  color: black;
  font-size: 25px;
  background-color: #9CAEBC;
}


.logoutButton{
  border: none;
  background-color: #9CAEBC;
  font-size: 25px;
}