.header{
  background-color: #9CAEBC;
  display: flex;
  justify-content: space-around;
  color: black;
}

.landing{
  margin-left: 5%;
}

.landingLink{
  color: black;
  font-size: 45px;
  text-decoration: none;

}

.headerTagsLoggedOut{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: auto;
}

.homeLink{
  text-decoration: none;
  color: black;
  font-size: 25px;

}

.loginButton{
  text-decoration: none;
  color: black;
  font-size: 25px;
  
}

.registerLink{
  text-decoration: none;
  color: black;
  font-size: 25px;
}






.headerTagsLoggedIn{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: auto;
}

.welcome{
  text-decoration: none;
  color: black;
  font-size: 25px;
}


.logoutButton{

}